body{
    background-image: url(numeros.jpg);
    font: normal 15pt arial;
    color:white;
    
}
header{
    color: white;
    text-align: center;


}
section{
    text-align: center;
    background: rgb(240, 11, 11);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.336);
    
}
footer{
    color: white;
    text-align: center;
    font-style: italic;
    

}